@use "@/styles/colors";
@use "@/styles/common";

.button {
    @extend %button-reset;
    background-color: colors.$secondary-main;

    cursor: pointer;
    color: white;

    &.normal {
        min-width: 51px;
        min-height: 40px;
        padding: 10px 16px;

        border-radius: 8px;
    }

    &.small {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 20px;
        min-height: 20px;
        padding: 0;

        border-radius: 4px;
    }

    &.outlined {
        background: none;
        color: colors.$secondary-dark;
        border: 1px solid colors.$secondary-dark;
    }

    &.disabled {
        background: colors.$secondary-light;
    }
}
