.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 75px;
}

.counter {
    margin: 0 8px;
}

.icon {
    width: 12px;
    height: 12px;
    fill: white;
}
