@use "@/styles/colors" as *;

.header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 84px;
    padding: 0 32px;

    color: white;
    background-color: $primary-main;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}
