@use "./colors";

%wrapper {
    display: flex;
    width: 100%;

    background-color: colors.$background-primary;
    padding: 24px;
    border-radius: 8px;
}

%button-reset {
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
}
