.container {
    display: flex;

    margin-bottom: 16px;
    padding: 24px;

    background-color: white;
    border-radius: 8px;
}

.text {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .genre {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
    }

    margin-left: 24px;
    margin-right: auto;
}

.poster {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.tickets {
    display: flex;
    align-items: flex-start;

    .counter {
        margin: 0 8px;
    }
}
